body {
    font-family: 'Roboto', sans-serif;
}

.alert-container{}

.callout-container{
    height: 100vh;

    background: url("../images/gin-martini-xmas-jxdornan-web.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.favorites-container{}

.quotes-container{}

.features-container{}

/* Block Dividers */
.block-divider {
    width: 100px; 
    height: 1px;
    border: 0;
}
.block-divider--pink {
    background-color: pink; 
}
.block-divider--short {
    width: 50px;
}

/* Jumbotron */
.jumbotron{
    background-color: transparent;
}

.jumbotron-header{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #cfa7b0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
    text-shadow: 1px 1px #000;
}

/* Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 160px;
}
.btn--pink {
    color: black;
    background-color: pink;
    border-color: pink;
}


.btn--pink:hover,
.btn--pink:active,
.btn--pink:focus,
.btn--pink:active:focus {
    background-color: #d39e00;
    border-color: #992337;
    color: black;
}