body {
    font-family: 'Roboto', sans-serif;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}
.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #d39e00;
    border-color: #d39e00;
}
.white-text {
    color: white;
}
.white-text:hover {
    text-decoration: none;
    color: grey;
}

.callout-container{
    height: 100vh;

    background: url("../images/gin-martini-xmas-jxdornan-web.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.favorites-container{}

.quotes-container{}

.features-container{}

/* Block Dividers */
.block-divider {
    width: 100px; 
    height: 1px;
    border: 0;
}
.block-divider--pink {
    background-color: #cfa7b0; 
}
.block-divider--short {
    width: 50px;
}

/* Nav Bar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
.navbar .navbar-toggler {
    border: 0;
}
.navbar-brand {
    font-weight: bold;
}
.navbar .navbar-nav a {
    font-weight: bold;
}
.nav-signin {
    color: #cfa7b0;
}
.nav-signin:hover {
    color: #d39e00;
    text-decoration: none;
}

/* Jumbotron */
.jumbotron{
    background-color: transparent;
}

.jumbotron-header{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #cfa7b0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
    text-shadow: 1px 1px #000;
}
mark {
    background-color: #cfa7b0;
    border-radius: 2px;
    font-style: italic;
}

/* Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}
.btn--pink {
    color: black;
    background-color: #cfa7b0;
    border-color: #cfa7b0;
}


.btn--pink:hover,
.btn--pink:active,
.btn--pink:focus,
.btn--pink:active:focus {
    background-color: #d39e00;
    border-color: #992337;
    color: black;
}